body{
    background-image: url("../img/blank-composition-data-373076.jpg");
    background-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1{
    text-align: center;
    font-size: 60px;
    color:white;
    text-shadow: 10px 3px 5px black
}


.calc-container{
    border: 2px solid red;
    position: fixed;
    left: 200px;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    bottom: 500px;
}

.display{
    width: 100%;

}


/* pilha, fila, árvore e lista */