body{
    background-color: rgb(247, 247, 235); 
    background-image: url("../img/bg-oficial.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Raleway', sans-serif;
    margin-top: 220px;
}

h1{
    text-align: center;
    color:  rgb(50, 40, 50) ;
    font-size: 70px;
    margin-bottom: 20px;
}

.sub-title{
    font-size: 20px;
}

header{
    margin-bottom: 60px;
    text-align: center;
}


main{
    display: flex;
    justify-content: center;
    color: rgb(247, 247, 235);
    font-size: 25px
}


.teclas-container{
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px;
    grid-template-rows: 70px 70px 70px 70px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
}

.calc-container{
    border: 2px solid rgb(247, 247, 235);
    border-radius: 20px;
    width: 790px;
    padding: 20px;
    background: #2C0B2A;
}

.display{
    border: 2px solid rgb(247, 247, 235);
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 20px;
    color: rgb(50, 40, 50);
    background: rgb(247, 247, 235);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    font-size: 35px
}


.tecla{
    border: 2px solid rgb(247, 247, 235);
    border-radius: 10px;
    text-align: center;
    line-height: 70px;
    box-shadow: 1px 1px 1px rgb(247, 247, 235);
    cursor: pointer;
}

.tecla:hover{
    background: #4E0250
}


.enter{
    grid-column: 6;
    grid-row: 3 / 5;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 20px;
}








