body{
    background-image:url("../img/bg-dark.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    background-color: black;
    color:white;
} 


header{
    display:flex; 
    justify-content:center;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


h1{
    font-size: 80px;
    text-align: center;
    color: white ;
    text-shadow: 3px 3px 3px rgb(59, 59, 59);
    margin-bottom: 3%;
}

h2{
    text-align: center;
    color: white ;
    text-shadow: 3px 3px 3px rgb(59, 59, 59);
    margin-bottom: 10px;
    margin-top: 0px
}

.sub-title{
    color:white;
    text-align: center;
    font-size: 25px;
    justify-content: center;
}




.btn-container{
    display: flex;
    box-sizing: border-box;
    color:white;
}

.display{
    height: 100px;
    line-height: 100px;
    background: black;
    text-align: right;
    padding-right: 5%;
    display: block;
    border-radius: 20px;
    border: 2px solid white;
    margin-bottom: 10px
}

.line-nums{
    display: flex;
    justify-content: space-between
}


main{
    display: flex;
    justify-content: center
}

.bg-opr{
    background: black;
}

.bg-nums{
    background: black
}

.calc-container{
    width: 348px;
    border-radius: 20px;
    border: 2px solid white;
    padding: 20px;
    background-color: black;
    box-shadow: 10px 10px 10px rgb(15, 15, 15);

}

.btn{
    height: 80px;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid white
}



.n-btn{
        height: 100%;
        text-align: center;
        line-height: 80px;
        cursor: pointer;
}

.small{
    width: 84px
}

.medium{
    width: 172px
}

.big{
    width: 260px;
    justify-content: center
}

.btn-opr{
    display: flex;
    flex-direction: column 
}

.btn-i{
    height: 80px;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
}

.nums{
    display: flex;
    flex-wrap: wrap;
}

.btn:hover{
    background: gray
}

.tc{
    text-align: center
}


.nova:hover{
    background: gray
}


.btn-igual:hover{
    background: gray
}

.btn-igual{
    border-radius: 20px;
    border: 2px solid white
}






.close{
    text-align: right;
    cursor: pointer;
}

.pop-up{
    width: 500px;
    background: black;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    position: fixed;
    bottom: 65px;
    right: 25px;
}
/* 
#FFE2DF
#FFD6DC
#F5C1C7
#E8A0AB
#E8707B 
*/